.answertype {
    display: flex;
}

.answertype label{
    margin-right: 1.5rem;
}

.answertype input{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width : 80%;
}

.select{
    padding: .5rem;
    /* width: 5rem; */
    /* height: 5rem; */
    border-radius: 4rem;
}

.select options{
    padding: .5rem;
    border-radius: 4rem;
}